html,
body {
    min-height: 100%;
}

body {
    position: relative;
    color: #666;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

main {
    padding: 16px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.card {
    margin: 16px;
    width: 80%;
    background: #f3f3f3;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    min-height: 300px;

    h2 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
    }
}
