html,
body {
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    color: #666;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

main {
    padding: 16px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.card {
    display: flex;
    position: relative;
    margin: 16px;
    width: auto;
    background: #f3f3f3;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

    h2 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
    }
}

.text-input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    // OH No, positioned, time for a portal!
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

textarea {
    display: block;
    padding: 10px;
    width: 100%;
    height: 54px;
    resize: none;

    background-color: rgba(255, 255, 255, 0.9);
    color: #666;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.6;
    border: none;
    outline: none;
}

button {
    border: none;
    outline: none;
    background: none;
}

.emoji-menu {
    max-height: (36 * 5 - 10) + px;
    overflow: scroll;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

    button {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-size: 24px;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.2s ease-out;
        &:hover {
            background-color: #42b6f4;
        }
    }
}

.chat {
    overflow: scroll;
    padding: 10px 20px 60px 20px;
    height: 500px;
    width: 400px;
}

.comment {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    margin: 10px 0;

    .avatar {
        display: inline-block;
        margin-right: 16px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #fff;
        text-align: center;
        line-height: 36px;
    }

    .bubble {
        position: relative;
        display: inline-block;
        margin: 0 0 10px 0;
        padding: 14px;

        border-radius: 24px;
        max-width: 75%;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;

        &:after {
            position: absolute;
            bottom: 0;
            content: '';
            width: 0;
            height: 0;
            border: solid 4px transparent;
        }
    }

    &.me {
        justify-content: flex-end;

        .avatar {
            order: 1;
            margin-right: 0;
            margin-left: 16px;
        }

        .bubble {
            text-align-last: auto;
            background-color: #42b6f4;
            color: #fff;
            border-bottom-right-radius: 0;

            &:after {
                left: 100%;
                border-left: solid 4px #42b6f4;
                border-bottom: solid 4px #42b6f4;
            }
        }
    }

    &.bot {
        .bubble {
            background-color: #e3e3e3;
            border-bottom-left-radius: 0;

            &:after {
                right: 100%;
                border-right: solid 4px #e3e3e3;
                border-bottom: solid 4px #e3e3e3;
            }
        }
    }
}
